*{
background-color: rgb(162, 236, 236);
    text-align: center;
}
body{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;}
  .color{
    background-color: bisque;
  }